
.thead-yellow {
  background-color:#FDC600 ;
}
.title{
  color: white;
}
th[sortable-column]{
  text-align: left;
  cursor: pointer;
}

#btn-delete {
  background: #d30000;
  width: auto;
  border: none;
}
.btn {
  color: white;
}
.title:hover{
  cursor: pointer;
}
#edit {
  width: auto;
  border: none;
  margin-left: 0.5em;
}
