<app-page-header title="Manage events"></app-page-header>

<div class="container">

  <div *ngIf="errors != null && errors.length > 0" class="alert alert-danger" style="margin-top: 20px">
    <span *ngFor="let err of errors">{{err.message}}</span>
  </div>

  <div class="row  pr0 padding-top-40 properties-page">
    <div class="col-md-12 clear">
      <table class="table" sortable-table (sorted)="onSorted($event)">
        <thead class="thead-yellow">
        <tr>
          <th sortable-column="name" class="title">Name</th>
          <th sortable-column="date" class="title">Date</th>
          <th sortable-column="city" class="title">City</th>
          <th sortable-column="country" class="title">Country</th>
          <th sortable-column="open" class="title">Open</th>
          <th sortable-column="close" class="title">Close</th>
          <th  sortable-column="length" class="title">Length (KM)</th>
          <th class="title"></th>
          <th class="title"><i class="fa fa-plus" title="Create an Event" aria-hidden="true" (click)="createEvent()"></i> </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of eventsList">
          <td>{{event.name}}</td>
          <td>{{event.startingDate | date: 'dd/MM/yyyy HH:mm' : 'UTC'}}</td>
          <td>{{event.city}}</td>
          <td>{{event.country}}</td>
          <td>{{event.enrollmentOpeningDate ? (event.enrollmentOpeningDate | date: 'dd/MM/yyyy' : 'UTC') : '(TBD*)'}}</td>
          <td>{{event.enrollmentClosingDate ? (event.enrollmentClosingDate | date: 'dd/MM/yyyy' : 'UTC') : '(TBD*)'}}</td>
          <td>{{event.length ? event.length : '(TBD*)'}}</td>
          <td>
            <div class="pull-left">
               <span class="icon" title="List of Participants">
              <i class="fa fa-list-alt" aria-hidden="true" (click)="getParticipants(event)" style="color: #FDC600;font-size: 2.5em">
              </i></span>
              <span class="icon" title="Edit Event">
              <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="edit(event)" style="color: #FDC600;font-size: 2.5em">
              </i></span>
            </div>
            <div class="pull-right">
               <span class="icon" title="Delete Event">
              <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(event)" style="color:#d30000;font-size: 2.5em">
              </i></span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>