<app-page-header title="MANAGE EVENT"></app-page-header>

<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">
    <div class="clearfix" >
      <div class="wizard-container">

        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
          <div class="wizard-header">
            <h3>
              <b>Manage</b> YOUR EVENT <br>
              <small>Add as many details as possibile to make your own event intriguing and reliable</small>
            </h3>
          </div>
          <div [hidden]="message !== null" class="alert alert-danger">{{message}}</div>
          <form (ngSubmit)="onSubmit()" #updateEventForm="ngForm">
            <div id="create">
              <div class="row p-b-15  ">
                <div class="col-sm-4 col-sm-offset-1">
                  <div class="picture-container">
                    <div class="picture">
                      <img src="../../../assets/img/logofoto.png" style="height: 100%" class="picture-src" id="wizardPicturePreview" title=""/>
                      <input type="file" id="logo">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name <small>(required)</small></label>
                    <input [(ngModel)]="event.name" #name="ngModel" id="name" name="name" type="text" class="form-control" placeholder="Marathon" required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required.</div>
                  </div>
                  <div class="form-group">
                    <label for="type">Type <small>(required)</small></label>
                    <select [(ngModel)]="event.type" #type="ngModel" id="type"  name="type" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select type">
                      <option *ngFor="let type of eventTypes" [ngValue]="type" style="text-transform: capitalize" required>{{type}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="startingDate">Date <small>(required)</small></label>
                    <input [(ngModel)]="event.startingDate" #startingDate="ngModel" id="startingDate" name="startingDate" type="text"
                           class="form-control datepicker">
                    <div [hidden]="startingDate.valid || startingDate.pristine" class="alert alert-danger">Date is required.</div>
                  </div>
                  <div class="form-group">
                    <label for="country">Country <small>(required)</small></label>
                    <input [(ngModel)]="event.country" #country="ngModel" id="country" name="country" type="text" class="form-control" placeholder="Italy" required>
                    <div [hidden]="country.valid || country.pristine" class="alert alert-danger">Country is required.</div>
                  </div>
                  <div class="form-group">
                    <label for="city">City <small>(required)</small></label>
                    <input [(ngModel)]="event.city" #city="ngModel" id="city" name="city" type="text" class="form-control" placeholder="Milano" required>
                    <div [hidden]="city.valid || city.pristine" class="alert alert-danger">City is required.</div>
                  </div>
                  <div class="form-group">
                    <label for="length">Length</label>
                    <input [(ngModel)]="event.length" #description="ngModel" id="length" name="length" type="text" class="form-control" placeholder="42.195 km" >
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <input [(ngModel)]="event.description" #description="ngModel" id="description" name="decription" type="text" class="form-control" placeholder="Write here your description..." >
                  </div>
                  <!--<div class="form-group">
                    <label for="startingTime">Starting Time</label>
                    <input [(ngModel)]="event.startingTime" #description="ngModel"
                           id="startingTime" name="startingTime" type="text" class="form-control"
                           placeholder="12:00" required >
                  </div>-->
                  <div class="form-group">
                    <label for="maxDuration">Maximum Duration</label>
                    <input [(ngModel)]="event.maxDuration" #description="ngModel" id="maxDuration" name="maxDuration" type="text" class="form-control" placeholder="3:00" required>
                  </div>
                  <div class="form-group">
                    <label for="enrollmentOpeningAt">Enrollment Opening At</label>
                    <input [(ngModel)]="event.enrollmentOpeningAt"
                           #description="ngModel" id="enrollmentOpeningAt" name="enrollmentOpeningAt"
                           type="text" class="form-control datepicker" placeholder=" 15/12/2017" >
                  </div>
                  <div class="form-group">
                    <label for="enrollmentClosingAt">Enrollment Closing At</label>
                    <input [(ngModel)]="event.enrollmentClosingAt" #description="ngModel" id="enrollmentClosingAt"
                           name="enrollmentClosingAt" type="text" class="form-control datepicker"
                           placeholder=" 15/1/2018" >
                  </div>
                </div>
              </div>
            </div>
            <!--  End step 1 -->


            <div class="wizard-footer">
              <div class="pull-right">
                <button type='submit' class='btn btn-default' [disabled]="!updateEventForm.form.valid">Update</button>
              </div>

              <div class="pull-left">
                <input type='button' class='btn btn-primary' value='Cancel' (click)="onCancel()" />
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
        <!-- End submit form -->
      </div>
    </div>
  </div>
</div>
-->

