/*FOOOTER*/
.footer-area{
  border-top: 1px solid #D1D1D1;
  background: #555 url("../../../../assets/img/trail.jpg") repeat scroll 0% 0%;
  color: #535353;
}
.footer{
  padding: 0px 0px 10px;
  background: rgba(255, 255, 255, 0.89) none repeat scroll 0% 0%;
}
.footer ul li i {
  padding-right: 10px;
  color: #000;
}
.footer-copy{
  background: rgba(213, 213, 213, 0.9) none repeat scroll 0% 0%;
  border-top: 0.051px solid rgba(162, 162, 162, 0.46);
  padding-bottom: 0px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.single-footer{
  margin-top: 35px
}
.footer img{
  margin-bottom: 20px;
}
.footer p{
  line-height: 25px;
  font-size: 13px;
  padding-bottom: 20px;
}
.footer h4{
  color: #717171;
  font-weight: 400;
  margin-top: 0px;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #878787;
  line-height: 35px;
  margin-bottom: 0px;
  letter-spacing: 2px;
}
.footer h4 span{
  border-bottom: 3px solid #d30000;
}
.footer-title-line {
  width: 100px;
  height: 2px;
  background: #d30000;
  margin: 0px 0px 33px;
  position: relative;
  top: -2px;
}
.footer h5{
  color: #fff;
  margin-top: 20px;
  font-weight: 700;
}
.footer a{
  color: #fff;
}
.footer ul{
  padding: 0px;
  margin: 0px;
}
.footer  ol, .footer ul {
  list-style: outside none none;
}

.footer ul li{
  margin-bottom: 5px
}
ul.footer-adress li {
  margin-bottom: -4px;
}
.footer ul li a{
  color: #535353;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}
.footer ul li a:hover{
  color: #d30000;
  text-decoration: none;
}
.footer-menu li{
  border-bottom: 1px solid rgba(255, 171, 0, 0.31);
}

.footer-copy span{
  margin-right: 20px;
  font-size: 13px;
}
.footer-copy span a{
  color: #000;
  font-weight: 500;
}
.footer img{
  height: 32px;
}
ul.footer-blog li {
  width: 100%;
  display: table;
  margin-bottom: -20px;
}
.footer-blog img {
  width: 100%;
  height: 60px;
  margin-bottom: 0px;
}
.footer-blog .blg-entry h6 a{
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
  color: #535353;
}
.footer-blog .blg-entry h6 {
  padding: 2px 0px;
  margin: 0px;

}
.footer-blog .blg-date {
  color: #FFF;
  background-color: #AD7206;
  padding: 2px 3px;
  font-size: 11px;
  position: relative;
  top: -22px;
  width: 100%;
}

.footer-blog p {
  line-height: 17px;
  padding: 8px 2px;
}
.news-letter .form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #E1E1E1;
  background-color: rgba(255, 255, 255, 0.52);
  background-image: none;
  border: 1px solid rgba(231, 157, 45, 0.3);
  border-radius: 0px;
  box-shadow: 0px 1px 1px rgba(179, 179, 179, 0.1) inset;
}
.news-letter .form-control:hover ,.news-letter .form-control:focus{
  background-color: rgba(0, 0, 0, 0.1);
}
#logo-footer {
  width:50%;
  height: 50%;
  margin-bottom: 2em;;
}

/*FOOOTER RESPONSIVITY*/
/*the footer should disappear in mobile view*/
@media (max-width: 480px) {
  #socket {
    display: none !important;
  }
}
