agm-map {
    cursor: crosshair;
}
p{
    margin-top:0.4em;
   font-weight: bold;
}
#walking, #bicycling{
    padding:0;
    width: inherit;
    margin-left: 1em;
    margin-top: 0.5em;
}

#map , #map:hover{
    cursor: crosshair;
    height: 55rem;
}

.btn-search {
    background-color: #FDC600;
    margin-bottom: 0.5em;
    color: white;
    padding: 0.5em;
    width: 20%;
    margin-left: 1em;
    margin-right: 1em;
    float: right;
}

#search-container{
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: whitesmoke;
}
