<app-page-header title="progress: {{event.name}}"></app-page-header>
<!--
<div class="search-form wow pulse">
  <form (ngSubmit)="search()" class="form-inline">
    <div class="row ">
      <div class="col-md-4 col-md-offset-4">
        <select #searchType class="selectpicker show-tick form-control" >
          <option value="default">Choose a participant to track</option>
          <option *ngFor="let participant of participantsList" [value]="participant" style="text-transform: capitalize">
            {{participant}}</option>
        </select>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <div class="row" style="padding-top: 5px">
          <div class="col-xs-12 col-md-2 col-md-offset-5" id="search" style="text-align: center">
            <input class="button btn largesearch-btn" value="Search" type="submit" style="min-width: 100px; float: none">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>-->

<div class="row search-form wow pulse animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: pulse;">
  <form *ngIf="participantsList" (ngSubmit)="search()" class="form-inline">
    <div class="col-xs-12 col-md-8">
      Select a participant to track:
      <div class="form-group">
        <select id="race" #searchType class="selectpicker" (change)="onChange($event)"
                data-live-search="true" data-live-search-style="begins"
                title="Select a participant">
          <option value="-1" selected>Select a Participant</option>
          <option *ngFor="let participant of participantsList" [value]="participant" style="text-transform: capitalize">
            {{participant.name}} {{participant.surname}}</option>
        </select>
      </div>
</div>



<agm-map id="map" #map [longitude]="initLong" [latitude]="initLat" [zoom]="zoom">
  <div *ngFor="let participantM of participantsMarkers">
    <div *ngIf="participantM.select">
      <agm-marker [latitude]="participantM.lat"
                  [longitude]="participantM.lng"
                  [label]="participantM.color">
        <agm-info-window [closeWhenOthersOpen]="true" >{{participantM.user.name}} {{participantM.user.surname}}
          <br> timestamp: {{participantM.timestamp}}
        </agm-info-window>
      </agm-marker>
    </div>
  </div>
  <map-direction *ngIf="directions != null" [origin]="directions.origin" [destination]="directions.destination"
                 [waypoints]="directions.waypoints"></map-direction>
</agm-map>
