<html>
<app-page-header title="How it works"></app-page-header>

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
    <div class="row">
      <div class="blog-lst col-md-12 pl0">
        <section id="id-100" class="post single">

          <div class="post-header single">
            <div class="">
              <div class="title-line wow fadeInRight animated"></div>
            </div>
            <div class="image wow fadeInRight animated">
              <img src="../../assets/img/mobile.png" id="runner-smartphone" class="img-responsive" alt="Example blog post alt">
              <p id="decription-why">The aim of <b>RiderTrack</b> is to provide an user-friendly management service for outdoor sport events and, especially, to support multiple input forms of tracking sources, even ones not introduced yet.
                The project main goal is to <b>simplify the organization</b> behind an event and, at the same time, to <b>foster the participation</b> of the athletes to whichever kind of race they could be interested in joining. To reach this scope, a flexible and extensible system has been developed, with the aim of <b>integrating tracking data from multiple sources</b>. On one hand, the system guarantees a noteworthy savings for the event administrator, who won’t be forced anymore to provide necessarily a specific professional tracking device to each participant of the race, and on the other hand, it allows athletes owning whichever different tracking device to compete all together in the same race, each of them with their <b>already owned</b> gadget.
            </p>
            </div>
          </div>

          <div id="post-content" class="post-body single wow fadeInLeft animated">

            <h2>Wherever with you</h2>

            <blockquote class="quote">
              <p><i>
                Find your bearings in the magic woods of a mountain trail, run across the roads of you favourite city, face the peaks covered with snow or go biking across the boundless valley, Ridertrack events management system is the easy solution to any kind of race.<br>
              </i></p>
            </blockquote>

            <h3>How it works</h3>

            <p>Thanks to the data integration, Ridertrack system allows the athletes to compete with their favourite tracking devices, avoiding the need of huge infrastructural costs and making the world of the race more accessible and close to people.
            And it is so easy!<br>
            Create your account and start the experience!</p>

            <h4>Track a race</h4>

            <p>
              Track an event is never be so easy: enter Ridertrack website, select the page All Events, find the race you are looking for and just click the button "Track"!
              No authentication is needed.<br>
              Click on the name of your favourite entrant to see the details. And if you own the secret code, the system allows you to keep track of the more private data about the athlete and even to send motivating messages to him/her during the entire race!
            </p>

            <h4>Create an event</h4>

            <p>
              Ridertrack permits everyone to become an event organizer. <br>
              At first, to create a new event, it is necessary be registered. One logged in, enter "My events" page and click on "Create event".
              Fill the form with details about your event, don't forget to complete the required ones. You could make your event more challenging and intriguing in every moment, by accessing the event management page and modifying or adding whichever field you desire!
            </p>

            <h4>Mobile app</h4>

            <p>
              Are you an athlete and are you going to race with Ridertrack? Download our Android mobile app from the Play Store and keep tracked!<br>
              The app allows you to check your progresses in terms of time, average speed and distance to the finish line all the race long, while gathering data from the sensors of your mobile phone.
              Additionally, it provides a messaging service which enables you to receive messages from all your supporters, owning the secret code, and to comfortably hear them by means of you earphones while competing.
            </p>
          </div>
        </section>

      </div>
    </div>

  </div>
</div>
</html>
