
<div class="container" id="search-container">
    <div class="form-group">
        <input id="search" placeholder="Insert starting area" type="text" class="form-control"
                   #search [formControl]="searchControl">
    </div>
    <div class="row">
        <div class="col">
            <p>TRAVEL MODE: </p>
            <input type="radio" name="travelMode" value ='WALKING' (click)="setTravelMode(value)">Walking
            <input type="radio" name="travelMode" value='BICYCLING' (click)="setTravelMode(value)">Bicycling
        </div>
        <div class="col">
        <button class="btn-manage" (click)="clearLast()">Clear Last</button>
        <button class="btn-manage bounceInRight" (click)="clearAll()" >Clear Map</button>
        </div>
    </div>

        <agm-map id="map" #map [longitude]="initLong" [latitude]="initLat" [zoom]="zoom" (mapClick)="mapClicked($event)"
        class="mapDirection" >
            <map-direction *ngIf="directions != null" [origin]="directions.origin" [destination]="directions.destination"
                           [waypoints]="directions.waypoints" [travelMode]="travelModeInput"></map-direction>
        </agm-map >
    <button class="btn-save" (click)="saveRoute()">Save Route</button>
</div>




