<div class="container" id="search-container">
    <ng4geo-autocomplete id="search" (componentCallback)="autocompleteAddress($event)"
                             [userSettings]="userSettingCity" #search >
    </ng4geo-autocomplete>
    <div class="row">
        <div class="col-md-8">
            <div class="btn-group" id="buttons">
                <p>Choose "Draw" method :
                   <label class="btn" (click)="setRadio('waypoints')"
                          title="Directions are used when the route is located in a city and does not contain a lot of checkpoints,
                        the route is automatically calulated and returned">
                    <input id="waypoints_radio" type="radio" name='radioButton' value="waypoints" (click)="setRadio('waypoints')"
                           [checked]="selected === 'waypoints'"
                           alt="Directions are used when the route is located in a city and does not contain a lot of checkpoints,
                        the route is automatically calulated and returned">
                    <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span> Directions</span>
                    <small>(*max 23 checkpoints)</small>
                    </label>
                    <label class="btn" (click)="setRadio('polylines')"
                           title="Lines are used when the route includes country roads or unconventional roads,
                        with this you can personalize the route completely">
                        <input id="polylines_radio" type="radio" name='radioButton' value="polylines"  (click)="setRadio('polylines')"
                        [checked]="selected==='polylines'" alt="Lines are used when the route includes country roads or unconventional roads,
                        with this you can personalize the route completely" >
                        <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> Lines</span>
                    </label>
                </p>
                </div>
        </div>
        <div class="col-md-4">
        <button class="btn-manage" (click)="clearLast()">Clear Last</button>
        <button class="btn-manage bounceInRight" (click)="clearAll()" >Clear Map</button>
        </div>
    </div>

    <!-- MAP SECTION-->
    <agm-map id="map" #map [longitude]="initLong" [latitude]="initLat" [zoom]="zoom"
             (mapClick)="mapClicked($event)" [streetViewControl]="false" [clickableIcons]="false">
        <!-- MAP CONTENT FOR DIRECTIONS-->
        <div *ngIf="selected==='waypoints'">
            <map-direction *ngIf="directions != null" [origin]="directions.origin" [destination]="directions.destination"
                           [waypoints]="directions.waypoints" ></map-direction>
            </div>
        <!-- MAP CONTENT FOR POLYLINES-->
        <div *ngIf="selected === 'polylines' && mapPoints.length>0">
                <agm-polyline id="polylines" [strokeColor]="'#00BFFF'" [strokeWeight]="7">
                    <agm-polyline-point *ngFor="let point of mapPoints" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
                </agm-polyline>
            <agm-marker *ngFor="let point of mapPoints" [latitude]="point.lat" [longitude]="point.lng"></agm-marker>
        </div>
    </agm-map >
    <!--END MAP SECTION-->

    <div class="row ">
        <div class="col-20 col-md-12 justify-content-center">
            <button class="btn-save" (click)="saveRoute()">Save Route</button>
        </div>
    </div>
    <div *ngIf="errors != null && errors.length > 0" class="alert alert-danger" style="margin-top: 20px">
        <span *ngFor="let err of errors">{{err.message}}</span>
    </div>
</div>






