
  <agm-map [longitude]="initLong" [latitude]="initLat" [zoom]="13"  >

    <agm-marker  [longitude]="initLong" [latitude]="initLat">
      <agm-info-window>Starting Point</agm-info-window>
    </agm-marker>

     <agm-polyline   [strokeColor]="'red'" >
       <ng-container *ngFor="let route of routes" >
       <agm-polyline-point [latitude]=route[0] [longitude]=route[1] >

       </agm-polyline-point>
       </ng-container>
     </agm-polyline>
 </agm-map>

  <script src="http://maps.googleapis.com/maps/api/js"></script>



