.logo {
  width: 5em;
  height:auto;
}
#title-label {
  display: block;
  padding:15px 15px 10px 15px;
}
.proerty-th-list .property-icon{
  background: white;
}
.item-thumb{
  max-width:100%;
  height: 20em;
}
.event-image {
  max-width:100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.line{
  display: flow-root;
  margin-bottom: 0.5em;
}
.proerty-th-list .col-md-3 .item-entry {
  padding-left: 15px;
}
h5 {
  padding:1em 0em 0.5em 0em;
}
.proerty-th-list .col-md-3 .item-entry {
  height: 30em !important;
}
.btn-primary {
  width: 100%;
}
.event-name {
  word-wrap:break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}
.proerty-th .proerty-item  .item-entry h5{
  height:4em;
}
#btn-stop{
  background-color: #d30000;
}
#btn-start{
  background-color: green;
}

.uploader input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-flex;
  display:flex;
  height: 2em;
  -webkit-justify-content: center;
  justify-content: center;
  width: 2em;
}
.uploader i:hover {
  color: #fec503;
}

#edit {
  width: 49%;
}

#route {
  width: 49%;
}



