<app-page-header title="My events"></app-page-header>

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row  pr0 padding-top-20 properties-page">
      <div class="col-md-12 padding-bottom-20 large-search">
        <div class="search-form wow pulse">
          <div class="col-xs-12 col-md-2 col-md-offset-5" id="create" style="text-align: center">
            <form class="form-inline">
              <input class="button btn largesearch-btn" (click)="createEvent()" value="Create event" type="submit"
                     style="width: 15rem; float: none;">
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-12 clear ">
        <ul class="nav nav-tabs" routerLinkActive="active" style="padding-top: 10px">
          <li style="width: 49%;" [routerLinkActive]="['active']">
            <a [routerLink]="['enrolled']" aria-expanded="true">Enrolled</a>
          </li>
          <li style="width: 49%;" [routerLinkActive]="['active']">
            <a [routerLink]="['organized']">Organized</a>
          </li>
        </ul>
        <div role="tabpanel" class="tab-content tab-pane">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>
</div>
