<app-page-header title="Progress: {{eventName}}"></app-page-header>
<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row  pr0 padding-top-20 properties-page">
        <div class="col-md-12 clear ">
        <ul class="nav nav-tabs" routerLinkActive="active" style="padding-top: 10px">
          <li style="width: 49%;" [routerLinkActive]="['active']">
            <a [routerLink]="['map']" aria-expanded="true">Map</a>
          </li>
          <li style="width: 49%;" [routerLinkActive]="['active']">
            <a [routerLink]="['leaderboard']">Leaderboard</a>
          </li>
        </ul>
        <div role="tabpanel" class="tab-content tab-panel">
          <router-outlet></router-outlet>
        </div>
        </div>
    </div>
  </div>
</div>