<app-page-header title="Register"></app-page-header>

<div class="register-area" style="background-color: rgb(249, 249, 249);">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="box-for overflow">
        <div class="col-md-12 col-xs-12 register-blocks">
          <h2>New account : </h2>
          <!-- FORM GROUP-->
          <form [formGroup]="registerForm" (keydown)="keyDownFunction($event)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name"  formControlName="name" #spy>
            </div>
            <div class="form-group">
              <label for="surname">Surname</label>
              <input type="text" class="form-control" id="surname" formControlName="surname" #spy>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" formControlName="email" #spy>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" #spy>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm password</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" #spy>
            </div>
            <div style="text-align: center;">
              <div style="display: inline-block" id="g-recaptcha"></div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-default"
                      (click)="register()" >Register</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div *ngIf="errors.length > 0" class="alert alert-danger" style="margin-top: 20px">
              <span *ngFor="let err of errors">{{err.message}}</span>
            </div>

            <h2>Social registration :  </h2>

            <p>
              <a class="login-social" (click)="loginFB()"><i class="fa fa-facebook"></i>&nbsp;Facebook</a>
              <a class="login-social" id="google-register"><i class="fa fa-google"></i>&nbsp;Google</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
