<div class="row  pr0 padding-top-40 properties-page">

  <div class="col-md-12  clear">
    <div class="col-xs-10 page-subheader sorting pl0">
      <div class="items-per-page">
        <label for="items_per_page"><b>Events per page :</b></label>
        <div class="sel">
          <select #itemsPerPage id="items_per_page" name="per_page" (change)="onItemsPerPageChanged()">
            <option *ngFor="let itemsPerPage of allowedItemsPerPage" [value]="itemsPerPage" [selected]="queryParams.itemsPerPage === itemsPerPage">{{itemsPerPage}}</option>
          </select>
        </div><!--/ .sel-->
      </div><!--/ .items-per-page-->
    </div>

    <div class="col-xs-2 layout-switcher">
      <!-- <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>-->
      <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
    </div><!--/ .layout-switcher-->
  </div>

  <div class="col-md-12 clear ">
    <div id="list-type" class="proerty-th" *ngFor="let event of enrolledEvents">
      <app-event-box [event]="event" [enrolled]="true"></app-event-box>
    </div>
    <div *ngIf="enrolledEvents === null  || enrolledEvents.length === 0">
     <p> NO ENROLLED EVENTS</p>
    </div>
  </div>

  <div class="col-md-12 clear">
    <div class="pull-right">
      <div class="pagination">
        <ul>
          <li><a [ngClass]="{'disabled': queryParams.page == 1}" (click)="prevPage()">Prev</a></li>
          <li *ngIf="queryParams.page > 2"><a (click)="changePage(queryParams.page - 2)">{{queryParams.page - 2}}</a></li>
          <li *ngIf="queryParams.page > 1"><a (click)="changePage(queryParams.page - 1)">{{queryParams.page - 1}}</a></li>
          <li class="active"><a>{{queryParams.page}}</a></li>
          <li *ngIf="totalPages !== 0 && queryParams.page < totalPages"><a (click)="changePage(queryParams.page + 1)">{{queryParams.page + 1}}</a></li>
          <li *ngIf="totalPages !== 0 && queryParams.page < totalPages - 1"><a (click)="changePage(queryParams.page + 2)">{{queryParams.page + 2}}</a></li>
          <li><a [ngClass]="{'disabled': totalPages == 0 || queryParams.page == totalPages}" (click)="nextPage()">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
