<nav class="navbar navbar-default ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="participant"><img src="../../assets/img/logoRidertrack.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse yamm" id="navigation">
      <div class="button navbar-right">
        <button class="navbar-btn nav-button wow bounceInRight login" routerLink="login" data-wow-delay="0.45s">Login</button>
        <button class="navbar-btn nav-button wow fadeInRight" routerLink="register" data-wow-delay="0.48s">Register</button>
      </div>
      <ul class="main-nav nav navbar-nav navbar-right" routerLinkActive="active">
        <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" routerLink="events">Events</a></li>

        <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="" routerLink="contacts">Contacts</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- End of nav bar -->
