.event-image {
  width:100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.event-name{
  word-wrap:break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}
.item-thumb{
  max-width:100%;
  height: 15em;
}
.proerty-th .proerty-item  .item-entry h5 {
  height: 4em;
}
