<div class="box-two proerty-item">
  <div class="item-thumb">
    <a routerLink="/events/{{event._id}}">
      <div class="event-image" [ngStyle]="{ 'background-image': 'url(/api/events/' + event._id + '/logo)'}"></div>
    </a>
  </div>
  <div class="item-entry overflow">
    <h5><a class="event-name" routerLink="/events/{{event._id}}" style="height: 1em; line-height: 1em; overflow: hidden"> {{event.name}} </a></h5>
    <div class="dot-hr"></div>
    <div class="line">
      <span class="property pull-left"><b><i class="fa fa-calendar"></i></b> {{event.startingDate | date: 'dd/MM/yyyy' : 'UTC'}} </span>
      <span class="property pull-right"> <b><i class="fa fa-clock-o"></i></b> {{event.startingDate | date: 'HH:mm' : 'UTC'}}</span>
    </div>
    <br>
    <div class="line">
      <span class="property location pull-left"><b><i class="fa fa-map-marker"></i></b> {{event.country}} | {{event.city}}</span>
      <span *ngIf="event && event.status === 'ongoing'" class="location pull-left" title="Event ongoing! Click on it to see the real time progress!"><i class="fa fa-circle" style="color: green"></i></span>
    </div>
  </div>
</div>

