<app-page-header title="How it works"></app-page-header>

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
    <div class="row how-it-works-group">
      <div class="col-xs-12" style="text-align: center">
        <h3>Want to <b>follow</b> an event?</h3>
      </div>
    </div>
    <div class="row how-it-works-row">
      <div class="col-sm-6 col-xs-12 how-it-works-title">
        <h4>All the events</h4>
      </div>
      <div class="col-sm-6 col-xs-12 how-it-works-img">
        <img src="../../assets/img/how-it-works/all-events.png" alt="List of all future events.">
      </div>
      <div class="col-sm-6 hidden-xs how-it-works-description">
        See the <b>list of the events</b> hosted in RiderTrack just clicking on the "All events button" or using the search box!
      </div>
    </div>
    <div class="row how-it-works-row">
      <div class="col-sm-6 col-xs-12 how-it-works-title">
        <h4>Search for a specific event</h4>
      </div>
      <div class="col-sm-6 col-xs-12 how-it-works-img">
        <img src="../../assets/img/how-it-works/search-for-event.png" alt="Search for a specific event.">
      </div>
      <div class="col-sm-6 hidden-xs how-it-works-description">
        Search for <b>specific event(s)</b> using the search box that you can find in the home page or the "All events" page!
        <br>You can filter all the future events by a keyword, the city and the type of the events.
        <br>You can also filter them by length. Using the default one (0 to 300) gives you all the events, even the ones longer than 300 km.
      </div>
    </div>
    <div class="row how-it-works-row">
      <div class="col-sm-6 col-xs-12 how-it-works-title">
        <h4>Event detail</h4>
      </div>
      <div class="col-sm-6 col-xs-12 how-it-works-img">
        <img src="../../assets/img/how-it-works/event-detail.png" alt="Event detail.">
      </div>
      <div class="col-sm-6 hidden-xs how-it-works-description">
        You can open the event detail page in several ways, just clicking on the events boxes:
        <ul>
          <li>From the "Home" page, in the upcoming events section;</li>
          <li>From the footer in all the pages, in the next 3 events section;</li>
          <li>From the "All events" page</li>
        </ul>
      </div>
    </div>
    <div class="row how-it-works-row">
      <div class="col-sm-6 col-xs-12 how-it-works-title">
        <h4>Event map detail and live progress</h4>
      </div>
      <div class="col-sm-6 col-xs-12 how-it-works-img">
        <img src="../../assets/img/how-it-works/event-map-detail.png" alt="Event map detail and live progress.">
      </div>
      <div class="col-sm-6 hidden-xs how-it-works-description">
        Once the event organizer has set the route for the event, you can access the map page from the button in the event detail page.
        <br>When the event starts, you can follow an event from this page. You will see markers of all the participants and using the dropdown you can select the one to track.
        <br>If you click on the marker, you will see the name and the time of the last position sent.
        <br>You can also see the live leaderboard, clicking on the appropriate tab button.
        <br>Both map and leaderboard are automatically refreshed and you do not need to do it explicitly. You always see the most updated information.
      </div>
    </div>

    <div class="row how-it-works-group">
      <div class="col-xs-12" style="text-align: center">
        <h3>Want to <b>participate</b> to an event?</h3>
      </div>
    </div>

    <div class="row how-it-works-group">
      <div class="col-xs-12" style="text-align: center">
        <h3>Want to <b>organize</b> an event?</h3>
      </div>
    </div>
  </div>
</div>
