<app-page-header title="How it works"></app-page-header>

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">

    <div class="row how-it-works-group">
      <div class="col-xs-12" style="text-align: center">
        <h3 class="fqa-title" data-toggle="collapse" data-target="#fqa11">Want to
          <b>follow</b> an event?</h3>
      </div>
    </div>

    <div id="fqa11" class="panel-collapse collapse fqa-body">
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Follow all the events</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/all-events.jpg" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          See the
          <b>list of the events</b> hosted in RiderTrack just by clicking on the "All events" button or using the search box!
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Search for a specific event</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/search-for-event.jpg" alt="Search for a specific event.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          Search for
          <b>specific event(s)</b> using the search box that you can find in the home page or in the "All events" page!
          <br>You can filter all the future events by a keyword, the city and the type of the events.
          <br>You can also filter them by length. Using the default one (0 to 300 km) gives you all the events, even the ones longer
          than 300 km.
          <br>Once the event has finished it is put in <b>archive</b> which can be accessed from "All events" page by clicking archive just below the search box
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Search details for a specific event</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/event-detail.jpg" alt="Event detail.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          You can open the event detail page in several ways, just clicking on the events boxes:
          <ul>
            <li>From the "Home" page, in the upcoming events section;</li>
            <li>From the footer, in the next 3 events section;</li>
            <li>From the "All events" page by clicking on specific event</li>
          </ul>
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Event route and live progress </h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/progress.jpg" alt="Event route and live progress.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          Once the event organizer has set the route for the event, you can access the <b>map page</b> from the button in the event detail
          page.
          <br>When the event starts, you can <b>follow</b> an event from this page. You will see markers of all the participants and
          using the dropdown you can select the one to track.
          <br>If you click on the marker, you will see the name and the time of the last position sent.
          <br>You can also see the <b>live leaderboard</b>, clicking on the appropriate tab button.
          <br>Both map and leaderboard are automatically refreshed and you do not need to do it explicitly. You always see the
          most updated information.
        </div>
      </div>
    </div>

<!-- +++++++++++++++++++++++++++++++++
  participate to an event 
++++++++++++++++++++++++++++++++++++ -->
    <div class="row how-it-works-group">
      <div class="col-xs-12" style="text-align: center">
        <h3 class="fqa-title" data-toggle="collapse" data-target="#fqa22">Want to
          <b>participate</b> to an event?</h3>
      </div>
    </div>

    <div id="fqa22" class="panel-collapse collapse fqa-body">
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Register and login</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/register.jpg" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          Firstly, if you want to <b>participate</b> in an event you have to <b>register</b> on the RiderTrack system.
          <br>By clicking on the <b>register</b> tab and then filling the form or registering thru social networks you are registered on the RiderTrack system.
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>My events</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/my-events.jpg" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          After registration or after signing into RiderTrack user is redirected to "my events" page where all the events in he/she is a part of are visible.
          <br>Preview of the "my events" page is on the right.
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Enrollment to event</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/enrollment.jpg" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          If an user wants to participate in an event actively, he/she has to enroll to event.
          <br>The enrollment is done by clicking on the event of which he/she wants to be part of.
          <br>Afterwards, clicking the <b>enroll</b> button on "event details" page the window appears.
          <br>In that window participant has to choose which tracking device he/she is going to use for tracking purposes during the race.
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Mobile app for tracking</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/mobile.jpg" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          As a <b>default tracking source</b> RiderTrack system assigns the android app which can be downloaded <a href="https://github.com/giulialeonardi/ridertrack-mobile/releases/download/latest/app-debug.apk">here</a>.
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Edit profile</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/editProfile.JPG" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          User that is currently logged in can edit his profile data.
          <br>Hovering over the avatar in the navigation bar user can choose between two options:
          <ul>
            <li>Edit Profile</li>
            <li>Logout</li>
          </ul>
          <br>Image show user view after clicking on the first option.
        </div>
      </div>
    </div>


<!-- +++++++++++++++++++++++++++++++++
  organize an event 
++++++++++++++++++++++++++++++++++++ -->

    <div class="row how-it-works-group">
      <div class="col-xs-12" style="text-align: center">
        <h3 class="fqa-title" data-toggle="collapse" data-target="#fqa33">Want to
          <b>organize</b> an event?</h3>
      </div>
    </div>

    <div id="fqa33" class="panel-collapse collapse fqa-body">
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Create event</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/create-event.jpg" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          See the
          <b>list of the events</b> hosted in RiderTrack just clicking on the "All events button" or using the search box!
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Edit event</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/manage.jpg" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          See the
          <b>list of the events</b> hosted in RiderTrack just clicking on the "All events button" or using the search box!
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Edit event route</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/edit-route.jpg" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          See the
          <b>list of the events</b> hosted in RiderTrack just clicking on the "All events button" or using the search box!
        </div>
      </div>
      <div class="row how-it-works-row">
        <div class="col-sm-6 col-xs-12 how-it-works-title">
          <h4>Start/stop tracking</h4>
        </div>
        <div class="col-sm-6 col-xs-12 how-it-works-img">
          <img src="../../assets/img/how-it-works/tracking.JPG" alt="List of all future events.">
        </div>
        <div class="col-sm-6 hidden-xs how-it-works-description">
          See the
          <b>list of the events</b> hosted in RiderTrack just clicking on the "All events button" or using the search box!
        </div>
      </div>
    </div>



    
  </div>
</div>