.how-it-works-group{
  padding-bottom: 10px;
}

.how-it-works-row{
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.how-it-works-title h4{
  font-weight: bold;
}

.how-it-works-img img{
  padding: 1px;
  border: 1px solid lightgray;
}

.how-it-works-row:nth-child(odd) > .how-it-works-title{
  text-align: center; float: right
}

.how-it-works-row:nth-child(odd) > .how-it-works-img{
  float: left;
}

.how-it-works-row:nth-child(odd) > .how-it-works-description{
  float: right;
}

.how-it-works-row:nth-child(even) > .how-it-works-title{
  text-align: center; float: left
}

.how-it-works-row:nth-child(even) > .how-it-works-img{
  float: right;
}

.how-it-works-row:nth-child(even) > .how-it-works-description{
  float: left;
}