<app-page-header title="All Events"></app-page-header>

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row  pr0 padding-top-40 properties-page">
      <div class="col-md-12 padding-bottom-40 large-search">
        <div class="search-form wow pulse">
          <form (ngSubmit)="search()" class="form-inline">
            <div class="col-md-12">
              <div class="col-md-4">
                <input type="text" #searchKeyword class="form-control" [value]="(queryParams.keyword === undefined) ? '' : queryParams.keyword" placeholder="Key word">
              </div>
              <div class="col-md-4">
                <ng4geo-autocomplete id="city" (componentCallback)="autocompleteCity($event)"
                                     [userSettings]="userSettingCity">
                </ng4geo-autocomplete>
                <!--<select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                  <option>New york</option>
                  <option>Paris</option>
                  <option>Casablanca</option>
                  <option>Tokyo</option>
                  <option>Marraekch</option>
                </select>-->
              </div>
              <div class="col-md-4">
                <select #searchType class="selectpicker show-tick form-control">
                  <option value="-1" [selected]="queryParams.type === undefined">All types</option>
                  <option *ngFor="let type of eventTypes" [value]="type" [selected]="queryParams.type !== undefined && queryParams.type === type" style="text-transform: capitalize">{{type}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 ">
              <div class="search-row">
                <div class="col-sm-3">
                  <label for="length-range">Length :</label>
                  <input type="text" class="span2" value="" data-slider-min="0"
                         data-slider-max="300" data-slider-step="5"
                         id="length-range" ><br />
                  <b class="pull-left color">0 km</b>
                  <b class="pull-right color">300 km</b>
                </div>
              </div>
              <!--
              &lt;!&ndash;<div class="search-row">
                <label id="title-label">Supported tracking devices:</label>
                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Garmin
                    </label>
                  </div>
                </div>


                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Maprogress
                    </label>
                  </div>
                </div>


                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Spot
                    </label>
                  </div>
                </div>

              </div>-->
            </div>
            <div class="col-md-12">
              <div class="row" style="padding-top: 5px">
                <div class="col-xs-12 col-md-2 col-md-offset-5" id="search" style="text-align: center">
                  <input class="button btn largesearch-btn" value="Search" type="submit" style="min-width: 100px; float: none">
                </div>
                <div style="text-align: center">
                  Looking for a past event? Go to the <a routerLink="/archive">archive</a>!
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-12  clear">
        <div class="col-xs-10 page-subheader sorting pl0">
          <!--<ul class="sort-by-list">
            <li class="active">
              <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                Event Date <i class="fa fa-sort-amount-asc"></i>
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                Event Price <i class="fa fa-sort-numeric-desc"></i>
              </a>
            </li>
          </ul>-->

          <div class="items-per-page">
            <label for="items_per_page"><b>Events per page :</b></label>
            <div class="sel">
              <select #itemsPerPage id="items_per_page" name="per_page" (change)="onItemsPerPageChanged()">
                <option *ngFor="let itemsPerPage of allowedItemsPerPage" [value]="itemsPerPage" [selected]="queryParams.itemsPerPage === itemsPerPage">{{itemsPerPage}}</option>
              </select>
            </div><!--/ .sel-->
          </div><!--/ .items-per-page-->
        </div>

        <div class="col-xs-2 layout-switcher">
         <!-- <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>-->
          <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
        </div><!--/ .layout-switcher-->
      </div>

      <div class="col-md-12 clear ">
        <div *ngIf="!loading" id="list-type" class="proerty-th" *ngFor="let event of eventsList">
          <app-event-box [event]="event"></app-event-box>
        </div>
        <div *ngIf="!loading && eventsList.length === 0">
          No events with those criteria.
        </div>
        <div *ngIf="loading" id="loading-spinner-all-events" style="display: none;">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="col-md-12 clear">
        <div class="pull-right">
          <div class="pagination">
            <ul>
              <li><a [ngClass]="{'disabled': queryParams.page == 1}" (click)="prevPage()">Prev</a></li>
              <li *ngIf="queryParams.page > 2"><a (click)="changePage(queryParams.page - 2)">{{queryParams.page - 2}}</a></li>
              <li *ngIf="queryParams.page > 1"><a (click)="changePage(queryParams.page - 1)">{{queryParams.page - 1}}</a></li>
              <li class="active"><a>{{queryParams.page}}</a></li>
              <li *ngIf="totalPages !== 0 && queryParams.page < totalPages"><a (click)="changePage(queryParams.page + 1)">{{queryParams.page + 1}}</a></li>
              <li *ngIf="totalPages !== 0 && queryParams.page < totalPages - 1"><a (click)="changePage(queryParams.page + 2)">{{queryParams.page + 2}}</a></li>
              <li><a [ngClass]="{'disabled': totalPages == 0 || queryParams.page == totalPages}" (click)="nextPage()">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
