<agm-map *ngIf="initCoords" #map [longitude]="initCoords.lng" [latitude]="initCoords.lat" [zoom]="zoom"
[streetViewControl]="false">
  <div id="waypoints" *ngIf="selected==='waypoints'">
    <map-direction *ngIf="directions != null" [origin]="directions.origin" [destination]="directions.destination"
                   [waypoints]="directions.waypoints" ></map-direction>
  </div>
  <!-- MAP CONTENT FOR POLYLINES-->
  <div id="polylines" *ngIf="selected === 'polylines' && mapPoints.length>0">
    <agm-polyline [strokeColor]="'#00BFFF'" [strokeWeight]="7">
      <agm-polyline-point *ngFor="let point of mapPoints" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
    </agm-polyline>
    <agm-marker *ngFor="let point of mapPoints" [latitude]="point.lat" [longitude]="point.lng"></agm-marker>
  </div>
</agm-map>
<p *ngIf="initCoords === null || initCoords ===undefined">*TBD</p>
