<app-page-header title="MANAGE EVENT"></app-page-header>


<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">
    <div class="clearfix" >
      <div class="wizard-container">

        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
          <div class="wizard-header">
            <h3>
              <b>MANAGE</b> YOUR EVENT<br>
              <small>You can modify all the fields for making your event unique!</small>
            </h3>
          </div>


          <form (ngSubmit)="onSubmit()" #updateEventForm="ngForm">
            <div id="create">
              <div class="row p-b-15  ">
                <div class="col-sm-4 col-sm-offset-1">
                  <div class="picture-container">
                    <div class="picture" style="margin-bottom: 0px">
                      <label for="logo">Logo </label>
                      <img [src]="urlImage != null ? urlImage : urlNoImage" style="height: 100%" class="picture-src" id="wizardPicturePreview" title=""/>
                      <input type="file" (change)="urlChanged($event)" id="logo">
                    </div>
                    <span>Only .png, .jpg, .jpeg supported.</span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name of the event <small>(required)</small></label>
                    <input [(ngModel)]="event.name" #name="ngModel" id="name" name="name" type="text" class="form-control" placeholder="Maratona di Milano 2018" required>
                  </div>
                  <div>
                    <label for="city">City (if it involves many cities, put the main or starting one)<small>(required)</small></label>
                    <ng4geo-autocomplete id="city" (componentCallback)="autocompleteCity($event)"
                                         [userSettings]="userSettingCity">
                    </ng4geo-autocomplete>
                  </div>
                  <div class="form-group">
                    <label for="type">Type of the event <small>(required)</small></label>
                    <select [(ngModel)]="event.type" #type="ngModel" id="type"  name="type"
                            class="selectpicker" data-live-search="true" data-live-search-style="begins" title={{event.type}}>
                      <option *ngFor="let type of eventTypes" [ngValue]="type" style="text-transform: capitalize" required>{{type}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="maxParticipants">Max number of participants</label>
                    <input [(ngModel)]="event.maxParticipants" #maxParticipants="ngModel" id="maxParticipants" name="maxParticipants" type="text" class="form-control" placeholder="Max number of participants">
                  </div>
                  <div class="form-group">
                    <label for="description">Few words about the event</label>
                    <textarea [(ngModel)]="event.description" #description="ngModel" id="description" name="decription"
                           type="text" class="form-control" cols="40" placeholder="Write here a description of the event..." >
                    </textarea>
                  </div>
                  <label>Starting date (DD/MM/YYYY) and time (HH:MM). Time is <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" title="UTC wikipedia">UTC</a>. <small>(required)</small></label>
                  <div class="form-group">
                    <div class="col-xs-8" style="padding-left: 0px">
                      <input [value]="event.startingDate | date:'dd/MM/yyyy'" id="startingDate" name="startingDate" type="text" class="form-control datepicker" placeholder="15/12/2017">
                    </div>
                    <div class="col-xs-4" style="padding-right: 0px">
                      <input [value]="event.startingDate | date:'HH:mm' : 'UTC'"
                             id="startingTime" name="startingTime" type="text" class="form-control"
                             placeholder="12:00">
                    </div>
                  </div>
                  <label>Scheduled ending date (DD/MM/YYYY) and time (HH:MM). Time is <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" title="UTC wikipedia">UTC</a>. </label>
                  <div class="form-group">
                    <div class="col-xs-8" style="padding-left: 0px">
                      <input id="closingDate" [value]="event.closingDate | date:'dd/MM/yyyy'" name="closingDate"
                             type="text" class="form-control datepicker" placeholder="15/12/2017">
                    </div>
                    <div class="col-xs-4" style="padding-right: 0px">
                      <input [value]="event.closingDate | date:'HH:mm' : 'UTC'"
                             id="closingTime" name="closingTime" type="text" class="form-control"
                             placeholder="12:00">
                    </div>
                  </div>
                  <label>Enrollment opens on date (DD/MM/YYYY) and time (HH:MM). Time is <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" title="UTC wikipedia">UTC</a>. </label>
                  <div class="form-group">
                    <div class="col-xs-8" style="padding-left: 0px">
                      <input id="enrollmentOpeningDate" [value]="event.enrollmentOpeningDate | date:'dd/MM/yyyy'" name="enrollmentOpeningDate"
                             type="text" class="form-control datepicker" placeholder="15/12/2017">
                    </div>
                    <div class="col-xs-4" style="padding-right: 0px">
                      <input [value]="event.enrollmentOpeningDate | date:'HH:mm' : 'UTC'"
                             id="enrollmentOpeningTime" name="enrollmentOpeningTime" type="text" class="form-control"
                             placeholder="12:00">
                    </div>
                  </div>
                  <label>Enrollment closes on date (DD/MM/YYYY) and time (HH:MM). Time is <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time" title="UTC wikipedia">UTC</a>.</label>
                  <div class="form-group">
                    <div class="col-xs-8" style="padding-left: 0px">
                      <input id="enrollmentClosingDate" [value]="event.enrollmentClosingDate | date:'dd/MM/yyyy'" name="enrollmentClosingDate"
                             type="text" class="form-control datepicker" placeholder="15/12/2017">
                    </div>
                    <div class="col-xs-4" style="padding-right: 0px">
                      <input [value]="event.enrollmentClosingDate | date:'HH:mm' : 'UTC'"
                             id="enrollmentClosingTime" name="enrollmentClosingTime" type="text" class="form-control"
                             placeholder="12:00">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="errors != null && errors.length > 0" class="alert alert-danger" style="padding-top: 5px">
              <span *ngFor="let err of errors">{{err.message}}</span>
            </div>

            <div class="wizard-footer">
              <div class="pull-right">
                <button type='submit' id="btn-submit" class='btn btn-default'>Update</button>
              </div>
              <!--<div class="pull-right">
                <button type='button' id="btn-route" class='btn btn-default' (click)="editRoute()">Edit Route</button>
              </div>-->
              <div class="pull-left">
                <input type='button' class='btn btn-default' value='Cancel' (click)="onCancel()" />
              </div>
              <div class="pull-left">
                <input type='button' id="btn-delete" class='btn btn-default' value='Delete event' (click)="deleteEvent()" />
              </div>
              <div class="clearfix"></div>
            </div>
          </form>
        </div>
        <!-- End submit form -->
      </div>
    </div>
  </div>
</div>
