<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img src="../../../../assets/img/logoRidertrack.png" alt="RiderTrack" style="height: 60px; padding-bottom: 0px">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="button navbar-right">
      <button class="navbar-btn nav-button wow bounceInRight login" *ngIf="!isLoggedIn()" routerLink="/login" data-wow-delay="0.45s">Login</button>
      <button class="navbar-btn nav-button wow fadeInRight" *ngIf="!isLoggedIn()" routerLink="/register" data-wow-delay="0.48s">Register</button>
    </div>

    <div class="collapse navbar-collapse yamm" id="navigation">
      <ul class="main-nav nav navbar-nav navbar-right" routerLinkActive="active">
        <li class="wow fadeInDown" data-wow-delay="0.2s">
          <a class="" routerLink="/how-it-works"> How it works</a>
        </li>
        <li class="wow fadeInDown" data-wow-delay="0.2s">
          <a class="" routerLink="/events"> All Events</a>
        </li>
        <li class="wow fadeInDown" data-wow-delay="0.3s" *ngIf="isLoggedIn()">
          <a class="" routerLink="/my-events">My Events</a>
        </li>
        <li class="wow fadeInDown" data-wow-delay="0.3s" >
          <a class="" routerLink="/contacts">Contact Us</a>
        </li>
        <li class="dropdown ymm-sw " data-wow-delay="0.1s" *ngIf="isAdministrator()">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
            Admin
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu navbar-nav">
            <li>
              <a  routerLink="/admin/users">
                <i class="fa fa-users"></i> Manage Users</a>
            </li>
            <li>
              <a routerLink="/admin/events" style="cursor: pointer">
                <i class="fa fa-map-o" ></i> Manage Events</a>
            </li>
          </ul>
        </li>
        <li class="dropdown ymm-sw " data-wow-delay="0.1s" *ngIf="isLoggedIn()">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
            <i class="fa fa-user" style="font-size: 20px"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu navbar-nav">
            <li>
              <a routerLink="/my-profile">
                <i class="fa fa-user"></i> My profile</a>
            </li>
            <li>
              <a (click)="logout()" style="cursor: pointer">
                <i class="fa fa-lock"></i> Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
  <!-- /.container-fluid -->
</nav>
<!-- End of nav bar -->