<html>
<app-page-header title="WHY RIDERTRACK BEST"></app-page-header>

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
    <div class="row">
      <div class="blog-lst col-md-12 pl0">
        <section id="id-100" class="post single">

          <div class="post-header single">
            <div class="">
              <div class="title-line wow fadeInRight animated"></div>
            </div>
            <div class="image wow fadeInRight animated">
              <img src="../../assets/img/mobile.png" id="runner-smartphone" class="img-responsive" alt="Example blog post alt">
            <p id="decription-why">Pellentesque habitant morbi tristique
              senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
              semper. <em>Aenean ultricies mi vitae est.</em>
              Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean
              fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</p>
            </div>
          </div>

          <div id="post-content" class="post-body single wow fadeInLeft animated">

            <h2>Header Level 2</h2>
            <ol>
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>

            <blockquote>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada
                tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
              </p>
            </blockquote>

            <h3>Header Level 3</h3>

            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
              ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Aliquam tincidunt mauris eu risus.</li>
            </ul>
            <p>
              <img src="assets/img/blog.jpg" class="img-responsive" alt="Example blog post alt">
            </p>
            <p>
              Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
              condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros
              eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
            </p>

          </div>
          <div class="post-footer single wow fadeInBottum animated">
            <ul class="pager">
              <li class="previous"><a href="#"><i class=""></i>← Older </a></li>
              <li class="next disabled"><a href="#">Newer →<i class=""></i> </a></li>
            </ul>
          </div>

        </section>

        <section class="about-autor">

        </section>

        <section id="comments" class="comments wow fadeInRight animated">
          <h4 class="text-uppercase wow fadeInLeft animated">3 comments</h4>


          <div class="row comment">
            <div class="col-sm-3 col-md-2 text-center-xs">
              <p>
                <img src="assets/img/client-face1.png" class="img-responsive img-circle" alt="">
              </p>
            </div>
            <div class="col-sm-9 col-md-10">
              <h5 class="text-uppercase">Julie Alma</h5>
              <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2011 at 12:00 am</p>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
              </p>
            </div>
          </div>
          <!-- /.comment -->


          <div class="row comment last">

            <div class="col-sm-3 col-md-2 text-center-xs">
              <p>
                <img src="assets/img/client-face2.png" class="img-responsive img-circle" alt="">
              </p>
            </div>

            <div class="col-sm-9 col-md-10">
              <h5 class="text-uppercase">Louise Armero</h5>
              <p class="posted"><i class="fa fa-clock-o"></i> September 23, 2012 at 12:00 am</p>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a>
              </p>
            </div>

          </div>
          <!-- /.comment -->
        </section>
      </div>
    </div>

  </div>
</div>
</html>
