<!-- PARTICIPANT SEARCH FORM-->
<div *ngIf="mapPoints && mapPoints.length>0; else noroute">
  <div class="row  pr0 padding-top-40 properties-page">
    <div class="col-md-12 clear">
      <div class="row search-form wow pulse animated" data-wow-delay="1s"
           style="visibility: visible; animation-delay: 1s; animation-name: pulse;">
        <form class="form-inline">
          <div class="col-xs-12 col-md-12">
            <div class="form-group" style="width: 100%">
              <label for="participantToTrack">Select a participant to track:</label>
              <select id="participantToTrack" #searchType class="selectpicker" (change)="onChange($event)"
                      data-live-search="true" data-live-search-style="begins"
                      title="Select a participant">
                <option value="-1" selected>All the participants</option>
                <option *ngFor="let participant of participantsList"
                        [value]="participant.userId._id"
                        [attr.data-tokens]="participant.userId.name + participant.userId.surname"
                        style="text-transform: capitalize">{{participant.userId.name}} {{participant.userId.surname}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="row text-center">
        Last update: {{lastUpdate | date: 'dd/MM/yy HH:mm:ss'}}
      </div>
      <!-- MAP PROGRESS -->
      <agm-map id="map" #map [longitude]="initLong" [latitude]="initLat" [zoom]="zoom"
      [streetViewControl]="false" [rotateControl]="true">
        <div *ngFor="let participantM of participantsMarkers">
          <div *ngIf="participantSelected === '' || participantSelected === participantM.user._id">
            <agm-marker [latitude]="participantM.lat"
                        [longitude]="participantM.lng"
                        [iconUrl]="participantM.icon">
              <agm-info-window [closeWhenOthersOpen]="true" >{{participantM.user.name}} {{participantM.user.surname}}
              </agm-info-window>
            </agm-marker>
          </div>
        </div>
        <div *ngIf="selectedType === 'waypoints'">
        <map-direction *ngIf="directions != null" [origin]="directions.origin" [destination]="directions.destination"
                       [waypoints]="directions.waypoints" [display]="true"></map-direction>
        </div>
        <div *ngIf="selectedType=== 'polylines'">
          <agm-polyline [strokeColor]="'#00BFFF'" [strokeWeight]="7">
            <agm-polyline-point *ngFor="let point of mapPoints" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
          </agm-polyline>
          <agm-marker *ngFor="let bound of bounds" [longitude]="bound.lng" [latitude]="bound.lat" [label]="bound.label"></agm-marker>
        </div>
      </agm-map>
    </div>
  </div>
</div>

<ng-template #noroute>
  <div class="container">
    <div class="row  pr0 padding-top-40 properties-page">
      <div class="col-md-12 clear">
        <div class="clearfix" >
          <div class="wizard-container">

            <div class="wizard-card ct-wizard-orange" id="wizardProperty">
              <div class="wizard-header">
                <h3>
                  <b>The Route</b> IS NOT AVAILABLE YET<br>
                </h3>
                <a  [routerLink]="['/events', event._id]" > < Come Back to the event </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</ng-template>
