.slider-area {
  background: url("../../assets/img/trail.jpg");
  background-size: cover;
  background-position: center;

}
.slider-content h2 {
  color: #d30000;
  font-size: 4em;
  float: right;
}
p {
  color: #000;
  font-size: 1.5em;
  text-align: right;
  float: right;
  display: block;
  width: 80%;
}
.toggle-btn search-btn{
  background-color: #DAA520;
  background-color: white;
}
.search-form {
  background-color: rgba(255, 255, 255, 0.5);
  border:transparent;
  display: block;
  width:50%;
  margin: auto;
  border-radius: 0.5em;
}
img {
  max-width:100%;
  height: 10em;
}
.Welcome-area{
  background: url("../../assets/img/trail-presentation.jpg");
  background-position: center;
  background-size: cover;
}

