@media only screen and (min-width : 768px) {
  .last-events-container {
    display: flex;
    flex-wrap: wrap;
  }
  .last-events-container [class*="col-"] {
    display: flex;
    flex-direction: column;
  }
}

.slider-area {
  background: url("../../assets/img/trail.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
.slider-content h2 {
  color: #d30000;
  font-size: 4em;
  float: right;
}
p {
  color: #000;
  font-size: 1.5em;
  text-align: right;
  float: right;
  display: block;
  width: 80%;
}
.toggle-btn search-btn{
  background-color: #DAA520;
  background-color: white;
}
.search-form {
  background-color: rgba(255, 255, 255, 0.5);
  border:transparent;
  display: block;
  width:50%;
  margin: auto;
  border-radius: 0.5em;
}
.event-image {
  width:100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.Welcome-area{
  background: url("../../assets/img/trail-presentation.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.item-thumb{
  max-width:100%;
  height: 15em;
}
.count-item h5{
  border-left: 2px solid #FDC600;
  border-right: 2px solid #FDC600;
}
.form-inline .form-control, .form-inline .form-control {
  background: rgba(252, 252, 252, 0.8);
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #A5A5A5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #A5A5A5;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #A5A5A5;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #A5A5A5;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #A5A5A5;
}

::placeholder { /* Most modern browsers support this now. */
  color:    #A5A5A5;
}
