<app-page-header title="All Events"></app-page-header>

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row  pr0 padding-top-40 properties-page">
      <div class="col-md-12 padding-bottom-40 large-search">
        <div class="search-form wow pulse">
          <form class=" form-inline">
            <div class="col-md-12">
              <div class="col-md-4">
                <input type="text" id="search-keyword" class="form-control" [value]="queryParams.keyword" placeholder="Key word">
              </div>
              <div class="col-md-4">
                <input type="text" id="search-city" class="form-control" [value]="queryParams.city" placeholder="City">
                <!--<select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                  <option>New york</option>
                  <option>Paris</option>
                  <option>Casablanca</option>
                  <option>Tokyo</option>
                  <option>Marraekch</option>
                </select>-->
              </div>
              <div class="col-md-4">
                <select id="basic" class="selectpicker show-tick form-control">
                  <option value="-1" [selected]="queryParams.type === ''">All types</option>
                  <option *ngFor="let type of eventTypes" [value]="type" [selected]="queryParams.type !== '' && queryParams.type === type" style="text-transform: capitalize">{{type}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 ">
              <div class="search-row">

                <div class="col-sm-3">
                  <label for="price-range">Price (€):</label>
                  <input type="text" class="span2" value="" data-slider-min="0"
                         data-slider-max="500" data-slider-step="0"
                         data-slider-value="[0,500]" id="price-range" ><br />
                  <b class="pull-left color">€ 0</b>
                  <b class="pull-right color">€ 500</b>
                </div>
                <!-- End of  -->

                <div class="col-sm-3">
                  <label for="length-range">Length :</label>
                  <input type="text" class="span2" value="" data-slider-min="0"
                         data-slider-max="300" data-slider-step="5"
                         data-slider-value="[0,300]" id="length-range" ><br />
                  <b class="pull-left color">0 km</b>
                  <b class="pull-right color">300 km</b>
                </div>
              </div>

              <!--<div class="search-row">
                <label id="title-label">Supported tracking devices:</label>
                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Garmin
                    </label>
                  </div>
                </div>
                <!-- End of

                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Maprogress
                    </label>
                  </div>
                </div>
                <!-- End of

                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Spot
                    </label>
                  </div>
                </div>
                <!-- End of
              </div>-->
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-12  clear">
        <div class="col-xs-10 page-subheader sorting pl0">
          <ul class="sort-by-list">
            <li class="active">
              <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                Event Date <i class="fa fa-sort-amount-asc"></i>
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                Event Price <i class="fa fa-sort-numeric-desc"></i>
              </a>
            </li>
          </ul><!--/ .sort-by-list-->

          <div class="items-per-page">
            <label for="items_per_page"><b>Events per page :</b></label>
            <div class="sel">
              <select id="items_per_page" name="per_page">
                <option *ngFor="let itemsPerPage of allowedItemsPerPage" [value]="itemsPerPage" [selected]="queryParams.itemsPerPage === itemsPerPage">{{itemsPerPage}}</option>
              </select>
            </div><!--/ .sel-->
          </div><!--/ .items-per-page-->
        </div>

        <div class="col-xs-2 layout-switcher">
         <!-- <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>-->
          <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
        </div><!--/ .layout-switcher-->
      </div>

      <div class="col-md-12 clear ">
        <div id="list-type" class="proerty-th" *ngFor="let event of eventsList">
          <app-event-box [event]="event"></app-event-box>
        </div>
        <div *ngIf="eventsList.length === 0">
          No events with those criteria.
        </div>
      </div>

      <div class="col-md-12 clear">
        <div class="pull-right">
          <div class="pagination">
            <ul>
              <li><a [ngClass]="{'disabled': queryParams.page == 1}">Prev</a></li>
              <li *ngIf="queryParams.page > 2"><a>{{queryParams.page - 2}}</a></li>
              <li *ngIf="queryParams.page > 1"><a>{{queryParams.page - 1}}</a></li>
              <li class="active"><a>{{queryParams.page}}</a></li>
              <li *ngIf="totalPages !== 0 && queryParams.page < totalPages"><a>{{queryParams.page + 1}}</a></li>
              <li *ngIf="totalPages !== 0 && queryParams.page < totalPages - 1"><a>{{queryParams.page + 2}}</a></li>
              <li><a [ngClass]="{'disabled': totalPages == 0 || queryParams.page == totalPages}">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
