.logo {
  width: 5em;
  height:auto;
}
#title-label {
  display: block;
  padding:15px 15px 10px 15px;
}
.proerty-th-list .property-icon{
  background: white;
}
.item-thumb{
  max-width:100%;
  height: 20em;
}
.event-image {
  max-width:100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.line{
  display: flow-root;
  margin-bottom: 0.5em;
}
.proerty-th-list .col-md-3 .item-entry {
  padding-left: 15px;
}
h5 {
  padding:1em 0 0.5em 0;
}
.proerty-th-list .col-md-3 .item-entry {
  height: 30em !important;
}

.disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
.form-inline input[type=submit] {
  margin: 3em 2em 0em 2em;
  float:right;
  width:20%;

}
#search {
  margin-left: auto !important;
  width:100%;
}

