<html>
<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="page-head-content">
        <h1 class="page-title">Events list</h1>
      </div>
    </div>
  </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <div class="row  pr0 padding-top-40 properties-page">
      <div class="col-md-12 padding-bottom-40 large-search">
        <div class="search-form wow pulse">
          <form action="" class=" form-inline">
            <div class="col-md-12">
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Key word">
              </div>
              <div class="col-md-4">
                <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                  <option>New york</option>
                  <option>Paris</option>
                  <option>Casablanca</option>
                  <option>Tokyo</option>
                  <option>Marraekch</option>
                </select>
              </div>
              <div class="col-md-4">
                <select id="basic" class="selectpicker show-tick form-control">
                  <option> Select race </option>
                  <option>Running</option>
                  <option>Biking</option>
                  <option>Marathon</option>
                  <option>Triathlon</option>

                </select>
              </div>
            </div>
            <div class="col-md-12 ">
              <div class="search-row">

                <div class="col-sm-3">
                  <label for="price-range">Price range (€):</label>
                  <input type="text" class="span2" value="" data-slider-min="0"
                         data-slider-max="600" data-slider-step="5"
                         data-slider-value="[0,450]" id="price-range" ><br />
                  <b class="pull-left color">€ 0</b>
                  <b class="pull-right color">€ 100000</b>
                </div>
                <!-- End of  -->

                <div class="col-sm-3">
                  <label for="property-geo">Length :</label>
                  <input type="text" class="span2" value="" data-slider-min="0"
                         data-slider-max="600" data-slider-step="5"
                         data-slider-value="[50,450]" id="property-geo" ><br />
                  <b class="pull-left color">10 km</b>
                  <b class="pull-right color">12000 km</b>
                </div>
                <!-- End of  -->
              </div>

              <div class="search-row">
                <label id="title-label">Supported tracking devices:</label>
                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Garmin
                    </label>
                  </div>
                </div>
                <!-- End of  -->

                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Maprogress
                    </label>
                  </div>
                </div>
                <!-- End of  -->

                <div class="col-sm-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Spot
                    </label>
                  </div>
                </div>
                <!-- End of  -->
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-12  clear">
        <div class="col-xs-10 page-subheader sorting pl0">
          <ul class="sort-by-list">
            <li class="active">
              <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                Event Date <i class="fa fa-sort-amount-asc"></i>
              </a>
            </li>
            <li class="">
              <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                Event Price <i class="fa fa-sort-numeric-desc"></i>
              </a>
            </li>
          </ul><!--/ .sort-by-list-->

          <div class="items-per-page">
            <label for="items_per_page"><b>Events per page :</b></label>
            <div class="sel">
              <select id="items_per_page" name="per_page">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="9">9</option>
                <option selected="selected" value="12">12</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="60">60</option>
              </select>
            </div><!--/ .sel-->
          </div><!--/ .items-per-page-->
        </div>

        <div class="col-xs-2 layout-switcher">
          <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
          <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
        </div><!--/ .layout-switcher-->
      </div>

      <div class="col-md-12 clear ">
        <div id="list-type" class="proerty-th" *ngFor="let event of eventsList">
          <app-event-box [event]="event"></app-event-box>
        </div>
      </div>



      <div class="col-md-12 clear">
        <div class="pull-right">
          <div class="pagination">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="../../../assets/js/modernizr-2.6.2.min.js"></script>
<script src="../../../assets/js/jquery-1.10.2.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/bootstrap-select.min.js"></script>
<script src="../../../assets/js/bootstrap-hover-dropdown.js"></script>
<script src="../../../assets/js/easypiechart.min.js"></script>
<script src="../../../assets/js/jquery.easypiechart.min.js"></script>
<script src="../../../assets/js/owl.carousel.min.js"></script>
<script src="../../../assets/js/wow.js"></script>
<script src="../../../assets/js/icheck.min.js"></script>
<script src="../../../assets/js/price-range.js"></script>
<script src="../../../assets/js/main.js"></script>
</html>
