<div class="col-sm-6 col-md-3 p0">
  <div class="box-two proerty-item">
    <div class="item-thumb">
      <a [routerLink]="['/events', event._id]" >
        <div *ngIf="!event.logo" class="event-image" style="background-image: url('../../../assets/img/logoRidertrack.png')"></div>
        <div *ngIf="event.logo" class="event-image" style="background-image: url('../../../assets/img/ny-marathon.jpg')"></div>
      </a>
    </div>

    <div class="item-entry overflow">
      <h5><a [routerLink]="['/events', event._id]"> {{event.name}}</a></h5>
      <div class="line">
        <span class="property pull-left"><b> Length :</b> {{event.length}} km </span>
        <span class="property location pull-right"><b> City :</b> {{event.city}}</span>
      </div>
      <div class="line">
        <span class="property pull-right"><b> Date :</b> {{event.startingTime}} </span>
        <!--<span class="property pull-left"><b> Price :</b> {{}}</span>-->
      </div>
      <p style="display: none;">The New York City Marathon has grown from a Central Park race with 55 finishers to the world's biggest and most popular marathon, with more than 51,000 finishers in 2016.</p>
      <div class="property-icon">
        <img class="logo" src="../../../assets/img/garmin-logo.jpg">|
        <img class="logo" src="../../../assets/img/spot-logo.png">|
        <img class="logo" src="../../../assets/img/maprogress-logo.jpg">
      </div>
    </div>


  </div>
</div>
