<app-page-header title="My events"></app-page-header>

<!-- property area -->
<div class="properties-area recent-property" style="background-color: #FFF;">
  <div class="container">
    <ul class="nav nav-tabs" routerLinkActive="active" style="padding-top: 10px">
      <li style="width: 49%;">
        <a routerLink="/my-events/enrolled" aria-expanded="true">Enrolled</a>
      </li>
      <li style="width: 49%;">
        <a [routerLink]="['organized']">Organized</a>
      </li>
    </ul>
    <div role="tabpanel" class="tab-content tab-pane">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
