.content-area {
  margin-top: 5em;
}
.page-title {
  padding-top: 1em !important;
}
.disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

#create {
  margin-left: auto !important;
  width:100%;
}

.large-search .search-form{
  border:none;
}
.form-inline input[type=submit]{
  background: #d30000;
}
