<app-page-header title="MY EVENTS"></app-page-header>
<div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <tabs>
    <tab tabTitle="Enrolled events" active="true" style="background-color: white;">
  <div class="container">
    <div class="row  pr0 padding-top-40 properties-page">
      <div class="text-center page-title">
        <h2>Enrolled events</h2>
      </div>
    </div>

    <div class="row  pr0 padding-top-40 properties-page">
          <div class="col-md-12 ">
            <div id="list-type-enroll" class="proerty-th" *ngFor="let event of enrolledEvents">
            <app-event-box [event]="event"></app-event-box>
            </div>
          </div>
    </div>
  </div>
    </tab>
    <tab tabTitle="Organized events">
  <div class="container">
    <div class="row  pr0 padding-top-40 properties-page">
      <div class="text-center page-title">
        <h2>Organized events</h2>
      </div>
    </div>

    <div class="row  pr0 padding-top-40 properties-page">
        <div class="col-md-12 clear">
          <div id="list-type-organize" class="proerty-th" *ngFor="let event of organizedEvents">
        <app-event-box-organized [event]="event"></app-event-box-organized>
        </div>
        </div>
    </div>
  </div>
    </tab>
  </tabs>
</div>
