.content-area {
  margin-top: 5em;
}
.page-title {
  padding-top: 1em !important;
}
.tabs__tab.active[_ngcontent-c6] {
  background-color: #FDC600 !important;
  border:none !important;
}
.tabs__panel[_ngcontent-c7]{
  background-color: white !important;
  box-shadow: none !important;
}
.tabs__tab-bar[_ngcontent-c6]{
  border:none !important;
}
