.wizard-header {
  padding:4em;
}
#description {
  height: 132px;
  text-align: start;
}
.btn-default{
  color: white;
  margin-right: 9em;
}
#btn-delete {
  background: #d30000;
  width: auto;
  border: none;
  margin-left: 16em;
}
.btn-manage {
  background-color: #FDC600;
  margin-bottom: 0.5em;
  width:100%;
  color: white;
  padding:1em;
}
.prp-style-1 .single-property-wrapper {
  margin-top: 0 !important;
}
.info-icon {
  width:3em;
  margin: 1em;
}
.dealer-widget {
  margin-bottom: 1em;
  margin-top:1em;
}
.blog-asside-right{
  padding-top: 0;
  padding-left:3em;
}
.panel-heading{
  margin-top:1em;
}

#map{
    position:relative;
   margin-top: 1em;
   height: 30rem;
    width: 100%;
}

@media screen and (max-width: 760px){
  #btn-delete{
    width: 100%;
    margin-left: 0;
  }
  .btn-default{
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (min-width: 760px) and (max-width: 900px){
  #btn-delete{
    margin-left: 6em;
  }
  .btn-default{
    margin-right: 4em;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px){
  #btn-delete{
    margin-left: 10em;
  }
  .btn-default{
    margin-right: 6em;
  }
}

