<app-page-header title="How it works"></app-page-header>

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="blog-lst col-md-12 pl0">
          <h2 style="text-align: center">Want to <b>follow</b> an event?</h2>
          <!-- tabs -->
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#spectator-map-view" data-toggle="tab">Map view</a></li>
              <li><a href="#spectator-ranking-view" data-toggle="tab">Ranking view</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="spectator-map-view">
                <div class="">
                  <h1>Home Tab</h1>
                  <p>These lists are meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
              <div class="tab-pane" id="spectator-ranking-view">
                <div class="">
                  <h1>About Tab</h1>
                  <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
            </div>
            <!-- /tabs -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="blog-lst col-md-12 pl0">
          <h2 style="text-align: center">Want to <b>organize</b> events?</h2>
          <!-- tabs -->
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#organizer-login" data-toggle="tab">Login</a></li>
              <li><a href="#organizer-create-event" data-toggle="tab">Create event</a></li>
              <li><a href="#organizer-edit-event" data-toggle="tab">Edit event's info</a></li>
              <li><a href="#organizer-edit-route" data-toggle="tab">Edit event's route</a></li>
              <li><a href="#organizer-start-stop-tracking" data-toggle="tab">Start and stop tracking</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="organizer-login">
                <div class="">
                  <h1>Home Tab</h1>
                  <p>These lists are meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
              <div class="tab-pane" id="organizer-create-event">
                <div class="">
                  <h1>About Tab</h1>
                  <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>

              <div class="tab-pane" id="organizer-edit-event">
                <div class="">
                  <h1>Services Tab</h1>
                  <p>meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>

              <div class="tab-pane" id="organizer-edit-route">
                <div class="">
                  <h1>Contact Tab</h1>
                  <p>deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
              <div class="tab-pane" id="organizer-start-stop-tracking">
                <div class="">
                  <h1>Contact Tab</h1>
                  <p>deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /tabs -->
        </div>
      </div>
      <div class="row">
        <div class="blog-lst col-md-12 pl0">
          <h2 style="text-align: center">Want to <b>participate</b> to events?</h2>
          <!-- tabs -->
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#participant-login" data-toggle="tab">Login</a></li>
              <li><a href="#participant-enroll-event" data-toggle="tab">Enroll in event</a></li>
              <li><a href="#participant-manage-devices" data-toggle="tab">Manage tracking devices</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="participant-login">
                <div class="">
                  <h1>Home Tab</h1>
                  <p>These lists are meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
              <div class="tab-pane" id="participant-enroll-event">
                <div class="">
                  <h1>About Tab</h1>
                  <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>

              <div class="tab-pane" id="participant-manage-devices">
                <div class="">
                  <h1>Services Tab</h1>
                  <p>meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /tabs -->
        </div>
      </div>
    </div>
  </div>
