<app-page-header title="How it works"></app-page-header>

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" style="text-align: center">
        <h3>Want to <b>follow</b> an event?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12" style="text-align: center; float: right">
        <h4>All the events</h4>
      </div>
      <div class="col-sm-6 col-xs-12" style="float: left;">
        <img src="../../assets/img/how-it-works/all-events.png" alt="List of all future events.">
      </div>
      <div class="col-sm-6 hidden-xs" style="float: right;">
        See the <b>list of the events</b> hosted in RiderTrack just clicking on the "All events button" or using the search box!
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12" style="text-align: center; float: left">
        <h4>Search for a specific event</h4>
      </div>
      <div class="col-sm-6 col-xs-12" style="float:right;">
        <img src="../../assets/img/how-it-works/search-for-event.png" alt="Search for a specific event.">
      </div>
      <div class="col-sm-6 hidden-xs" style="float: left">
        Search for <b>specific event(s)</b> using the search box that you can find in the home page or the "All events" page!
        <br>You can filter all the future events by a keyword, the city and the type of the events.
        <br>You can also filter them by length. Using the default one (0 to 300) gives you all the events, even the ones longer than 300 km.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12" style="text-align: center; float: right">
        <h4>Event detail</h4>
      </div>
      <div class="col-sm-6 col-xs-12" style="float: left;">
        <img src="../../assets/img/how-it-works/event-detail.png" alt="Event detail.">
      </div>
      <div class="col-sm-6 hidden-xs" style="float: right;">
        You can open the event detail page in several ways, just clicking on the events boxes:
        <ul>
          <li>From the "Home" page, in the upcoming events section;</li>
          <li>From the footer in all the pages, in the next 3 events section;</li>
          <li>From the "All events" page</li>
        </ul>
      </div>
    </div>
    
    
    
    <div class="row">
      <div class="row">
        <div class="blog-lst col-md-12 pl0">
          <h2 style="text-align: center">Want to <b>follow</b> an event?</h2>
          <!-- tabs -->
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#spectator-map-view" data-toggle="tab">Map view</a></li>
              <li><a href="#spectator-ranking-view" data-toggle="tab">Ranking view</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="spectator-map-view">
                <div class="">
                  <h1>Home Tab</h1>
                  <p>These lists are meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
              <div class="tab-pane" id="spectator-ranking-view">
                <div class="">
                  <h1>About Tab</h1>
                  <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
            </div>
            <!-- /tabs -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="blog-lst col-md-12 pl0">
          <h2 style="text-align: center">Want to <b>organize</b> events?</h2>
          <!-- tabs -->
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#organizer-login" data-toggle="tab">Login</a></li>
              <li><a href="#organizer-create-event" data-toggle="tab">Create event</a></li>
              <li><a href="#organizer-edit-event" data-toggle="tab">Edit event's info</a></li>
              <li><a href="#organizer-edit-route" data-toggle="tab">Edit event's route</a></li>
              <li><a href="#organizer-start-stop-tracking" data-toggle="tab">Start and stop tracking</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="organizer-login">
                <div class="">
                  <h1>Home Tab</h1>
                  <p>These lists are meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
              <div class="tab-pane" id="organizer-create-event">
                <div class="">
                  <h1>About Tab</h1>
                  <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>

              <div class="tab-pane" id="organizer-edit-event">
                <div class="">
                  <h1>Services Tab</h1>
                  <p>meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>

              <div class="tab-pane" id="organizer-edit-route">
                <div class="">
                  <h1>Contact Tab</h1>
                  <p>deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
              <div class="tab-pane" id="organizer-start-stop-tracking">
                <div class="">
                  <h1>Contact Tab</h1>
                  <p>deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /tabs -->
        </div>
      </div>
      <div class="row">
        <div class="blog-lst col-md-12 pl0">
          <h2 style="text-align: center">Want to <b>participate</b> to events?</h2>
          <!-- tabs -->
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#participant-login" data-toggle="tab">Login</a></li>
              <li><a href="#participant-enroll-event" data-toggle="tab">Enroll in event</a></li>
              <li><a href="#participant-manage-devices" data-toggle="tab">Manage tracking devices</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="participant-login">
                <div class="">
                  <h1>Home Tab</h1>
                  <p>These lists are meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
              <div class="tab-pane" id="participant-enroll-event">
                <div class="">
                  <h1>About Tab</h1>
                  <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>

              <div class="tab-pane" id="participant-manage-devices">
                <div class="">
                  <h1>Services Tab</h1>
                  <p>meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- /tabs -->
        </div>
      </div>
    </div>
  </div>
