<div class="slider-area">
  <title id="title-count-down">COMING SOON:</title>
  <div class="slider-content">
    <div class="row">
      <div class="count-down-area">
        <div class="col-md-3">
          <img class="circle col-md-4" src="../../assets/img/black-circle.png">
          <div class="days">{{days}}</div>
          <p class="count-down">DAYS</p></div>
        <div class="col-md-3">
          <img class= "circle col-md-4" src="../../assets/img/black-circle.png">
          <div class="days">{{hours}}</div>
          <p class="count-down">HOURS</p></div>
        <div class="col-md-3">
          <img class= "circle col-md-4" src="../../assets/img/black-circle.png">
          <div class="days">{{minutes}}</div>
          <p class="count-down">MINUTES</p></div>
        <div class="col-md-3">
          <img class= "circle col-md-4" src="../../assets/img/black-circle.png">
          <div class="seconds">{{seconds}}</div>
          <p class="count-down">SECONDS</p></div>
      </div>
    </div>
  </div>
  <button type="button" id="link-to-event"><span><i>Go to the event</i></span></button>
</div>
