.slider-content {
  position:static;
}
.slider-area {
  background: url("../../assets/img/count-down-background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.count-down-area {
  background: rgba(255, 255, 255, 0.3);
  float:none;
  display: inline-block;
  width:80%;
  border-radius: 4px;
  padding: 1.5em;
}
.count-down {
  display: block;
  margin-bottom:0em;
  font-size: 25em;
  font: 1.5em arial, sans-serif;
  padding: 1.5em 2em 0.5em;
  color: black;
  font-weight: bold;
}
#title-count-down {
  display: block;
  float: none;
  font-size: 3.5em;
  font-type: arial, sans-serif bold;
  color: white;
  text-align: center;
  padding:1.5em 1.5em 1.5em;
  font-weight: bolder;

}
#link-to-event {
  display: block;
  background-color: transparent;
  color:white;
  border: none;
  text-align: center;
  font-size: 2em;
  padding: 1.5em;
  width: 50%;
  transition: all 0.5s;
  cursor: pointer;
  float:right;
}

#link-to-event span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#link-to-event span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2em;
  transition: 0.5s;
}

#link-to-event:hover span {
  padding-right: 1.5em;
}

#link-to-event:hover span:after {
  opacity: 1;
  right: 0;
}
.count-down-element {
  background: url(../../assets/img/black-circle.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1.5em;
  display: inline-block;
  float: left;
  opacity: 1;
  width:100%;
  font-size: 4em;
}
