<div class="slider-area">
  <title id="title-count-down">COMING SOON:</title>
  <div class="slider-content">
    <div class="row">
      <div class="count-down-area">
        <div class="col-md-3">
          <div class="count-down-element">{{days}}</div>
        </div>
        <div class="col-md-3">
          <div class="count-down-element">{{hours}}</div>
        </div>
        <div class="col-md-3">
          <div class="count-down-element">{{minutes}}</div>
        </div>
        <div class="col-md-3">
          <div class="count-down-element">{{seconds}}</div>
        </div>
        <p class="count-down col-md-3">DAYS</p>
        <p class="count-down col-md-3">HOURS</p>
        <p class="count-down col-md-3">MINUTES</p>
        <p class="count-down col-md-3">SECONDS</p>
      </div>
    </div>
  </div>
  <button type="button" id="link-to-event"><span><i>Go to the event</i></span></button>
</div>
