<app-page-header title="{{event.name}}"></app-page-header>
<div class="content-area single-property" style="background-color: #FCFCFC;">&nbsp;
  <div class="container">
      <div class="col-md-8 single-property-content prp-style-2">
        <div class="">


          <div class="data" >
            <div class="logo">
              <img id= "logo" [src]="event.logo">
            </div>

            <div class="section" *ngIf="event.description">
              <h4 class="s-property-title">Description</h4>
              <div class="s-property-content">
                <p> {{event.description}} </p>
              </div>
            </div>
            <!-- End description area  -->

            <div class="section additional-details">

              <h4 class="s-property-title">Additional Details</h4>

              <ul class="additional-details-list clearfix">
                <li>
                  <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Category</span>
                  <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{event.type}}</span>
                </li>
                <li *ngIf="event.maxDuration">
                  <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Duration</span>
                  <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{event.maxDuration}}</span>
                </li>
                <li *ngIf="event.length">
                  <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Length</span>
                  <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"> {{event.length}} KM </span>
                </li>

                <li *ngIf ="event.enrollmentOpeningAt != null">
                  <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Registration Open</span>
                  <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"> {{event.enrollmentOpeningAt | date: 'short'}}
                    </span>
                </li>
                <li *ngIf ="event.enrollmentClosingAt != null">
                  <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Registration Close</span>
                  <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry"> {{event.enrollmentClosingAt | date: 'short'}}
                    </span>
                </li>
                <li>
                  <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">City</span>
                  <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{event.city}}</span>
                </li>
                <li>
                  <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Country</span>
                  <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{event.country}}</span>
                </li>
              </ul>
            </div>
            <!-- End additional-details area  -->

            <!-- Map area-->
            <!--<div class="section additional-details">
              <h4 class="s-property-title">Route</h4>
              <app-map [event] = "this.event"></app-map>
            </div>-->
            <!--End Map area-->

        <!--Share area-->
            <div class="section property-share">
              <h4 class="s-property-title">Share with your friends </h4>
              <div class="roperty-social">
                <ul>
                  <li><a title="Share this on facebook " >
                    <img src="../../../assets/img/social_big/facebook_grey.png"></a></li>
                </ul>
              </div>
            </div>
            <!-- End Share area  -->
          </div>
        </div>
      </div>

      <!--Information menu area-->
      <div class="col-md-4 p0">
        <div class="buttons clearfix" *ngIf="isLogged()">
          <button class="btn-enroll navbar-btn nav-button wow bounceInRight header" (click)="enroll()" *ngIf="!alreadyEnrolled">Enroll</button>
          <button class="btn-enroll navbar-btn nav-button wow fadeInRight" (click)="withdrawEnrollment()"
                  *ngIf="alreadyEnrolled">Withdraw enrollment</button>
          <button class="btn-enroll navbar-btn nav-button wow bounceInRight header" (click)="enroll()" *ngIf="currentUser.email === organizer.email" [routerLink]="['/manage-event', event._id]">Edit</button>
        </div>
        <aside class="sidebar sidebar-property blog-asside-right property-style2">
          <div class="dealer-widget">
            <div class="dealer-content">
              <div class="inner-wrapper">
                <div class="single-property-header">
                  <span class="property-title">{{event.name}}</span>

                </div>

                <div class="property-meta entry-meta ">
                  <ul>
                    <li>
                       <span class="property-info-entry">
                         <span class="property-info-value">Date</span>
                         <span class="property-info-label">{{event.startingDate}}</span>
                       </span>
                    </li>
                    <li *ngIf="event.startingTime != null">
                       <span class="property-info-entry" >
                         <span class="property-info-value">Starting Time</span>
                         <span class="property-info-label" *ngIf="event.startingTime != null">{{event.startingTime}}</span>
                       </span>
                    </li>
                  </ul>
                </div>
                <!--end Information area-->


                <!--organizer area-->

                <div class="dealer-section-space">
                  <span>Information</span>
                </div>
                <div class="clear">
                  <div class="col-xs-4 col-sm-4 dealer-face">
                    <a href="">
                      <img
                        src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYGUCrTOnryrIanCbitS8_XW2rv8TEoNRT7xDtzf2cLFSIWCbb3Q'
                        class="img-circle">
                    </a>
                  </div>
                  <div class="col-xs-8 col-sm-8 ">
                    <h3 class="dealer-name">
                      <a href="">{{organizer.name}} {{organizer.surname}}</a><br>
                      <span>Event Organizer</span>
                    </h3>
                  </div>
                  </div>
                </div>
              <!--End organizer area-->
              </div>
            </div>
        </aside>
      </div>
  </div>
</div>


