.picture-src {
  background: url('../../../assets/img/logofoto.png');
}

.btn-default:enabled {
  color: white;
}

input#search_places {
  display: inline;
  width: calc(100% - 20px);
  height: 22px;
  font-size: 13px;
  background-color: #FFF;
  border: 1px solid #DADADA;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(179, 179, 179, 0.1) inset;
}