<app-page-header title="FAQ"></app-page-header>
<div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
        <!-- /.feature title -->
        <h2>Find the answer to your question</h2>
        <br>
      </div>
    </div>

    <div class="row row-feat">
      <div class="col-md-12">

        <div class="col-sm-6 feat-list">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa11" >
                  What is Ridertrack?
                </h4>
              </div>
              <div id="fqa11" class="panel-collapse collapse fqa-body">
                <div class="panel-body">
                  <p><i>Rider Track</i> is an user-friendly management service for outdoor sport events, which allows spectators, competitors and organizers to live an easy and engaging race experience. The main peculiarity of the system is to support multiple input sources from different tracking devices.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa22" >
                 What services are provided to a not registered user?
                </h4>
              </div>
              <div id="fqa22" class="panel-collapse collapse fqa-body">
                <div class="panel-body">
                  <ol>
                    <p>A user not already registered can: </p>
                    <li> Surf the home page</li>
                    <li> Consult the list of all the events</li>
                    <li> Attend a race as a spectator and track whichever event through the web site</li>
                    <li> Get in contact with the favourite entrant, by means of the secret code</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa33" >
                  What additional services are provided to a registered user?
                </h4>
              </div>
              <div id="fqa33" class="panel-collapse collapse fqa-body">
                <div class="panel-body">
                  <ol>
                    <p>A registered user can: </p>
                    <li> Log in and access his/her personal area</li>
                    <li> Manage personal data</li>
                    <li> See the list of the events in which he/she is already enrolled</li>
                    <li> See the list of the events to come, which he/she has organized</li>
                    <li> See the list of the past events in which he/she took part</li>
                    <li> See the list of the past events which he/she organized</li>
                    <li> Enroll to a future event</li>
                    <li> Create and organize a new event</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 feat-list">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa1" >
                    Can anyone organize an event?
                </h4>
              </div>
              <div id="fqa1" class="panel-collapse collapse fqa-body">
                <div class="panel-body">
                 <p>That's for sure!
                 All you need is a nice location, the perfect date and the will to enjoy yourself! </p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa2" >
                  Can I unenroll from an event?
                </h4>
              </div>
              <div id="fqa2" class="panel-collapse collapse fqa-body">
                <div class="panel-body">
                  <p>Yes, you can unenroll from an event in whichever moment, before the enrollment closing time.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa3" >
                  What is the Ridertrack mobile application?
                </h4>
              </div>
              <div id="fqa3" class="panel-collapse collapse fqa-body">
                <div class="panel-body">
                  <p>The Ridertrack mobile application is an additional service provided to athletes competing in a race managed by Ridertrack, which enable the participant to: </p>
                  <ol>
                    <li> Provide more detailed data about his/her progresses and rhythm during the race </li>
                    <li> Receive messages from authorized spectators and listen to them thought his/her earphones while racing</li>
                    <li> Take constantly under control the time passed, the average speed and the distance to the finish line</li>
                    <li> Instantly share the listed above details about the race on Facebook, with just a click</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
