<!-- Footer area-->
<div class="footer-area" id="socket">

  <div class=" footer " >
    <div class="container">
      <div class="row">
        <div class="col wow fadeInRight animated">
          <div class="single-footer news-letter">
            <h4>Stay in touch</h4>
            <div class="footer-title-line"></div>
            <p>Subscribe to our newsletter to keep you updated on all the new events.</p>

            <form>
              <div class="input-group">
                <input class="form-control" type="text" placeholder="E-mail ... ">
                <span class="input-group-btn">
                  <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                </span>
              </div>

              <!-- /input-group -->
            </form>

            <div class="social pull-right">
              <ul>
                <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i class="fa fa-twitter"></i></a></li>
                <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-copy text-center">
    <div class="container">
      <div class="row">
        <div class="pull-left">
          <span><img src="../../../../favicon.ico"/>
            <a>Ridertrack   </a>
          </span>
        </div>

        <div class="pull-right">
          <i class="pe-7s-mail strong"> </i> info@ridertrack.com
          <i class="pe-7s-call strong"> </i> +1 908 967 5906
        </div>
      </div>
    </div>
  </div>

</div>
