#description {
  height: 132px;
  text-align: start;
}

#btn-delete {
  background: #d30000;
  width: auto;
  border: none;
  margin-left: 1em;
}
.btn {
  color: white;
}

input#search_places {
  display: inline;
  width: calc(100% - 20px);
  height: 22px;
  font-size: 13px;
  color: grey;
  background-color: #FFF;
  border: 1px solid #DADADA;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(179, 179, 179, 0.1) inset;
}



